<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model="name" placeholder="姓名">
            <input type="text" v-model="age" placeholder="年龄">
            <input type="text" v-model="phone" placeholder="电话">
        </div>
        <div>
            <p>
                姓名：<span>{{name}}</span>
            </p>
            <p>
                年龄：<span>{{age}}</span>
            </p>
            <p>
                电话：<span>{{phone}}</span>
            </p>
        </div>
        <button id="btn">修改</button>
    </div>
    <script src="./index.js"></script>
    <script>
        const app = new MVVM("#app",{
            name: '',
            age: '',
            phone: ''
        })
        document.querySelector('#btn').addEventListener('click',function() {
            app.setData('name','张三')
        })
    </script>
</body>

</html>